<div class="avatar">
  <a {% if webmention.url %}href="{{ webmention.url }}"{% endif %} target="_blank" rel="noopener noreferrer" title="{{ webmention.author.name }}" class="avatar__link">
    {% if webmention.author.photo %}
      <img class="avatar__img" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy" width="48" height="48">
    {% else %}
      <svg class="avatar__img" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 512 512"><defs/><circle cx="256" cy="114.526" r="114.526"/><path d="M256 256c-111.619 0-202.105 90.487-202.105 202.105 0 29.765 24.13 53.895 53.895 53.895h296.421c29.765 0 53.895-24.13 53.895-53.895C458.105 346.487 367.619 256 256 256z"/></svg>
    {% endif %}
  </a>
</div>
