    <h2>Changes</h2>
    <ul>
      {%- for item in collections.changelog | reverse -%}
      <li>
        <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.data.title }}</a>
        {% if item.data.description %}<p>{{ item.data.description | safe }}</p>{% endif %}
      </li>
      {% endfor %}
    </ul>
