<nav class="dash-nav" aria-label="Log sections">
  <ul>
    <li>
      <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-dash-2" /></svg>
      <a href="/logs/">Dashboard</a>
    </li>
    <li>
      <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-music" /></svg>
      <a href="/logs/listening/">Listening</a>
    </li>
    <li>
      <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-tv" /></svg>
      <a href="/logs/watching/">Watching</a>
    </li>
    <li>
      <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-book" /></svg>
      <a href="/logs/reading/">Reading</a>
    </li>
    <li>
      <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-ticket" /></svg>
      <a href="/logs/concerts/">Concerts</a>
    </li>
  </ul>
</nav>
