      <footer role="contentinfo">
        <div class="container">
          <div class="content">
            <div class="contact-me">
              <p class="contact-me__heading">Interested in working with me?</p>
              <a class="button--cta" href="/contact">Get in touch</a>
            </div>
            <div class="social-icons social-icons--footer">
              <ul>
                <li class="social-icons__icon">
                  <a href="https://twitter.com/juanfernandes" target="_blank" rel="me noopener noreferrer" title="Twitter">
                    <svg aria-hidden="true"><use xlink:href="#svg-twitter" /></svg>
                    <span class="visuallyhidden">Follow Juan Fernandes on Twitter</span>
                  </a>
                </li>
                <li class="social-icons__icon">
                  <a href="https://uk.linkedin.com/in/juanfernandes/en" target="_blank" rel="me noopener noreferrer" title="LinkedIn">
                    <svg aria-hidden="true"><use xlink:href="#svg-linkedin" /></svg>
                    <span class="visuallyhidden">Add Juan Fernandes on LinkedIn</span>
                  </a>
                </li>
                <li class="social-icons__icon">
                  <a href="https://github.com/juanfernandes" target="_blank" rel="me noopener noreferrer" title="GitHub">
                    <svg aria-hidden="true"><use xlink:href="#svg-github" /></svg>
                    <span class="visuallyhidden">Follow Juan Fernandes on GitHub</span>
                  </a>
                </li>
              </ul>
            </div>
            <p class="copyright">&copy; Multi Creative Media Ltd, 2015-<script>document.write(new Date().getFullYear());</script> - Company No. 09615613. Registered in England &amp; Wales. Registered office: Bawdsey House, Ferry Road, Bawdsey, Suffolk IP12 3AW. No tracking.</p>
            <div class="u-center u-mt-3"><a class="img" href="https://withjack.co.uk" target="_blank" rel="noopener noreferrer" title="My business is insured via With Jack"><img src="/assets/imgs/insured-via-with-jack.png" alt="With Jack"></a></div>
          </div>
        </div>
      </footer>
