      <footer role="contentinfo">
        <div class="container">
          <div class="content">
            <div class="contact-me">
              <p class="contact-me__heading">Interested in working with me?</p>
              <a class="button--cta" href="/contact/">Get in touch</a>
            </div>

            <div class="footer-links">
              <ul class="footer-links__other">
                {% for item in site.footerlinks %}
                <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
              </ul>
              <div class="social-icons social-icons--footer">
                <ul role="list">
                  <li class="social-icons__icon">
                    <a href="https://hachyderm.io/@juanfernandes" target="_blank" rel="me noopener noreferrer" title="Mastodon">
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#svg-mastodon" /></svg>
                      <span class="visuallyhidden">Follow Juan Fernandes on Mastodon</span>
                    </a>
                  </li>
                  <li class="social-icons__icon">
                    <a href="https://www.linkedin.com/in/juanfernandes" target="_blank" rel="me noopener noreferrer" title="LinkedIn">
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#svg-linkedin" /></svg>
                      <span class="visuallyhidden">Add Juan Fernandes on LinkedIn</span>
                    </a>
                  </li>
                  <li class="social-icons__icon">
                    <a href="https://github.com/juanfernandes" target="_blank" rel="me noopener noreferrer" title="GitHub">
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#svg-github" /></svg>
                      <span class="visuallyhidden">Follow Juan Fernandes on GitHub</span>
                    </a>
                  </li>
                  <li class="social-icons__icon">
                    <a href="https://www.polywork.com/juanfernandes" target="_blank" rel="me noopener noreferrer" title="Polywork">
                      <svg class="u-p-6" aria-hidden="true" focusable="false"><use xlink:href="#svg-polywork" /></svg>
                      <span class="visuallyhidden">Follow Juan Fernandes on Polywork</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <p class="copyright">&copy; Juan Fernandes, 2015-{{ global.copyrightYear }}. No tracking. Built with <a href="https://www.11ty.dev/">11ty</a>. Hosted by <a href="https://my.guru.co.uk/aff.php?aff=6526">Guru</a></p>
          </div>
        </div>
      </footer>
