    <h2>Commits</h2>
    <p>The source code is available on <a href="{{ site.sourceUrl }}">Github</a>.</p>
    <ul>
      {% for item in commits %}
      <li>
        <a href="{{ item.link }}" rel="noopener">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
