      <header class="page__header">
        <nav role="navigation" aria-label="Global site navigation">
          <ul class="nav--main" role="list">
            {%- for item in site.navigation -%}
            <li class="nav__item">
              <a class="{{ item.class }}" href="{{ item.url }}"{% if page.url == item.url %} aria-current="true"{% endif %}>{{ item.label }}</a>
            </li>
            {%- endfor -%}
          </ul>
        </nav>
      </header>
