        <section class="section section--intro" id="content">
          <div class="content">
            <p>Hey, I'm Juan — a freelance freelance website designer with over 15 years of experience. I design &amp; develop responsive websites using industry best practices and standards.</p>
          </div>
        </section>
