        <section class="section section--intro" id="content">
          <div class="content">
            <p class="alpha">I specialise in intuitive interfaces, clear design systems, and scalable UI that supports small business success and accessibility for all.</p>
            {% if intro.cta %}
            <div class="actions u-mt-4">
              <a class="button--cta" href="{{ intro.cta.url }}">{{ intro.cta.text }}</a>
            </div>
            {% endif %}
          </div>
        </section>
