      <div class="intro intro--{{intro.class}}">
        <div class="intro__content">
          <h1 class="intro__heading">
            <span class="intro__heading--large">{{ intro.heading }}</span>
            {{ intro.subheading }}
          </h1>
          {% if cta %}
          <div class="actions">
            <a class="button--cta" href="{{ intro.cta.url }}">{{ intro.cta.text }}</a>
          </div>
          {% endif %}
        </div>
      </div>