      <section class="intro{% if intro.class %} intro--{{ intro.class }}{% endif %}">
        <div class="intro__content">
          <h1 class="intro__heading">
            <span class="intro__heading--large">{% if intro.heading %}{{ intro.heading }}{% else %}{{ title }}{% endif %}</span>
            {{ intro.subheading }}
          </h1>
          {% if cta %}
          <div class="actions">
            <a class="button--cta" href="{{ intro.cta.url }}">{{ intro.cta.text }}</a>
          </div>
          {% endif %}
        </div>
      </section>
