        <section class="latest-post">
          <div class="content">
            <h2 class="alpha / content__heading">Latest Posts</h2>
            <div class="grid-6-6">
              <div class="post">
                <h2 class="section-heading">Blog</h2>
                {% set post = collections.posts | last %}
                <h3>{% if post.data.intro.heading %}{{ post.data.intro.heading }}{% else %}{{ post.data.title }}{% endif %}</h3>
                <time class="dt-published" datetime="{{ post.date | w3DateFilter }}">{{ post.date | dateFilter }}</time>

                <p class="lead">{{ post.data.description }}</p>
                <p class="post__link"><a href="{{ post.url }}">Read more</a> →</p>
              </div>

              <div class="post">
                <h2 class="section-heading">Note</h2>
                {% set note = collections.notes | last %}
                <h3>{{ note.data.title }}</h3>
                <time class="dt-published" datetime="{{ note.date | w3DateFilter }}">{{ note.date | dateFilter }}</time>

                <p class="lead">{{ note.data.description }}</p>
                <p class="post__link"><a href="{{ note.url }}">Read more</a> →</p>
              </div>
            </div>
          </div>
        </section>
