    {% if date %}<p class="date"><small><em>Last updated on the <time class="dt-published" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time></em></small></p>{% endif %}

    <hr>

    <p><small>This is <a href="https://nownownow.com/about" target="_blank" rel="noopener">a now page</a>, and it was inspired by <a href="https://sive.rs/nowff" target="_blank" rel="noopener">Derek Sivers</a></small></p>
