                  <div class="slider">
                    <div class="slider__container">
                    {% for item in slider %}
                      <div class="slider__slide">
                        <img src="{{ site.cloudinary_url }}f_auto/work/projects/{{ item.img }}" loading="lazy" alt="{{ item.alt }}" width="300" height="180">
                      </div>
                    {% endfor %}
                    </div>

                    <link rel="stylesheet" href="/assets/css/components/slider.css">
                    <script src='/assets/js/tiny-slider.js'></script>
                    <script>
                      let slider = tns({
                        container: '.slider__container',
                        items: 1,
                        autoHeight: true,
                        speed: 400,
                        loop: true,
                        autoplay: true,
                        autoplayButtonOutput: false,
                        autoplayHoverPause: true,
                        nav: true,
                        navPosition: "bottom"
                      });
                    </script>
                  </div>
