    <ul>
      {% for article in read %}
      <li><a href="{{ article.link }}" target="_blank" rel="noopener">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
    <p><a href="/links/">See all links I've shared</a></p>
