        <section class="recent-work">
          <div class="content">
            <h2 class="alpha / content__heading">Recent Work</h2>
            <div class="grid-4-col / projects-wrapper">
              {% for item in recentWork %}
              <div class="project">
                <a href="work/{{ item.link }}/">
                  <span class="project__effect"></span>
                  <img class="project__img" src="{{ site.cloudinary_url }}f_auto,w_200,h_200/work/projects/{{ item.img }}.jpg" alt="{{ item.name }}" width="200" height="200" loading="lazy">
                  <h3 class="project__heading">{{ item.name }}</h3>
                </a>
              </div>
              {% endfor %}
            </div>            
            <div class="actions u-mt-4">
              <a class="button--cta" href="/work/">View all work</a>
            </div>
          </div>
        </section>
