        <section class="recent-work">
          <div class="content">
            <h2 class="alpha / content__heading">Recent Work</h2>
            <div class="row">
              <div class="cols four">
                <div class="project">
                  <a href="work/virgin-wines/">
                    <img class="project__img" src="{{ site.cloudinary_url }}f_auto/work/projects/virginwines-project-recent-2.jpg" alt="Close up of wine bottles on a wine rack" loading="lazy" width="200" height="200">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">Virgin Wines</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cols four">
                <div class="project">
                  <a href="/work/mclaren/">
                    <img class="project__img" src="{{ site.cloudinary_url }}f_auto/work/projects/mclaren-project-recent.jpg" alt="McLaren P1 car on the road with mountains in the background" loading="lazy" width="200" height="200">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">McLaren</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cols four">
                <div class="project">
                  <a href="/work/landrover/">
                    <img class="project__img" src="{{ site.cloudinary_url }}f_auto/work/projects/landrover-project-recent.jpg" alt="Land Rover Freelander 90 going down a steep hill" loading="lazy" width="200" height="200">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">Land Rover</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cols four">
                <div class="project">
                  <a href="/work/tomhartleyjnr/">
                    <img class="project__img" src="{{ site.cloudinary_url }}f_auto/work/projects/tomhartleyjnr-project-recent.jpg" alt="Close up of a 1958 Ferrari 250 TR" loading="lazy" width="200" height="200">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">Tom Hartley JNR</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
