        <form action="https://juanfernandes.us14.list-manage.com/subscribe/post?u=5b3be09f2ef9673f9620eb84b&amp;id=a6a8aad9ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form form--subscribe validate" target="_blank" novalidate>
          <div class="content">
            <p><b>Stay up-to-date with my blog posts and receive occasional emails from me.</b></p>
            <div class="row">
              <div class="six cols">
                <label for="mce-FNAME">First name</label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
              </div>
              <div class="six cols">
                <label for="mce-EMAIL">Email address</label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="four cols">
                <input class="button button--cta" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <input class="visuallyhidden" type="hidden" name="b_5b3be09f2ef9673f9620eb84b_a6a8aad9ca" tabindex="-1" value="" aria-hidden="true">
              </div>
            </div>
            <p class="no-margin"><small><em>No spam ever, unsubscribe anytime.</em></small></p>
          </div>
        </form>
