          <link rel="stylesheet" media="print" href="/assets/css/components/slider.css" onload="this.media='all'" nonce="P59ZujC" />
          <script src='/assets/js/tiny-slider.js' defer></script>
          <script nonce="P59ZujC">
            document.addEventListener("DOMContentLoaded", () => {
              let slider = tns({
                container: '.testimonials__slider',
                items: 1,
                autoHeight: true,
                speed: 400,
                loop: true,
                autoplay: true,
                autoplayButtonOutput: false,
                controls: false,
                autoplayHoverPause: true,
                nav: true,
                navPosition: "bottom",
              });
            });
          </script>
