
        <section class="testimonials">
          <div class="testimonial">
            <div class="testimonial__quote">
              <blockquote>
                <p>{{ testimonial.quote | safe }}</p>
              </blockquote>
              <cite>{{ testimonial.cite }}, {{ testimonial.company }}</cite>
            </div>
            <div class="testimonial__thumb">
              <img src="{{ site.cloudinary_url }}f_auto/{{ testimonial.img }}" alt="{{ testimonial.cite }}" loading="lazy" width="200" height="200">
            </div>
          </div>
        </section>
