                  <div class="project__images">
                    {% for item in images %}
                    {% if item.description %}
                    <figure>
                      <img src="{{ site.cloudinary_url }}f_auto,w_1200/work/projects/{{ item.img }}" loading="lazy" width="1200" alt="{{ item.alt }}">
                      <figcaption>{{ item.description }}</figcaption>
                    </figure>
                    {% else %}
                    <img src="{{ site.cloudinary_url }}f_auto,w_1200/work/projects/{{ item.img }}" loading="lazy" width="1115" alt="{{ item.alt }}">
                    {% endif %}
                    {% endfor %}
                   </div>
