---
title: Photos | Freelance / contract front-end developer Juan Fernandes

description: Short posts, photos, thoughts about code, design and personal stuff

keywords: photos, freelance, contract, front-end developer,  website design, website owners tips tricks, small business website owners, website design tips, website design business

intro:
  class: photos intro intro--sml
  heading: Photos

bodyClass: blog
---

{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="container">
    <div class="content content--wide" id="content">
      <div class="post-list post-list--cards">
        {%- for post in collections.photos | reverse -%}
        <a class="card" href="{{ post.url }}">
          <img class="card__img" src="{{ site.url }}{{ post.data.postImage }}" alt="{{ post.data.alt }}" width="320" loading="lazy">
          <span class="card__title">{{ post.data.title }}</span>
        </a>
        {%- endfor -%}
      </div>
    </div>
  </div>
{% endblock %}
