---
layout: page
title: Sitemap
permalink: /sitemap/
contentClass: content--slim
---
<div class="u-grid u-grid-4">
  <div>
    <h2>Main</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/now/">Now</a></li>
      <li><a href="/uses/">Uses</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>

  <div>
    <h2>Content</h2>
    <ul>
      <li><a href="/work/">Work</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li><a href="/stream/">Stream</a></li>
    </ul>
  </div>

  <div>
    <h2>Logs</h2>
    <ul>
      <li><a href="/logs/">Logs</a></li>
      <li><a href="/logs/watching/">Watching</a></li>
      <li><a href="/logs/reading/">Reading</a></li>
      <li><a href="/logs/listening/">Listening</a></li>
      <li><a href="/logs/concerts/">Concerts</a></li>
    </ul>
  </div>

  <div>
    <h2>Collections</h2>
    <ul>
      <li><a href="/collections">Collections</a></li>
      <li><a href="/collections/games/">Games</a></li>
      <li><a href="/collections/lego/">LEGO</a></li>
      <li><a href="/collections/funko/">Funko</a></li>
    </ul>
  </div>
</div>
