---
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---
{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="blog-posts">
    <div class="content" id="content">
      <div class="row">
        <div class="twelve cols">
          <ul class="post-list">
            {% for post in posts %}
            <li>
              <div class="block block--thumb">
                <a href="{{ post.url }}" class="b-inner">
                  <div class="b-text">
                    <h3 class="b-title">{% if post.data.intro.heading %}{{ post.data.intro.heading }}{% else %}{{ post.data.title }}{% endif %}</h3>
                    <div class="meta">
                      <small><time class="dt-published" datetime="{{ post.date | w3DateFilter }}">{{ post.date | dateFilter }}</time></small>
                    </div>
                    <p>{{ post.data.description }}</p>
                  </div>
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>

          {% include 'components/blog-pagination.njk' %}
        </div>

        <div class="sidebar meta / four cols">
          {% include 'components/bio.njk' %}
          {% include 'components/tagcloud.njk' %}
        </div>
      </div>
    </div>
{% endblock %}
