---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: blog/tags/{{ tag }}/
---
{% extends 'layouts/blog.njk' %}

{% block intro %}
<div class="intro" style="background-image: url( {{ introImage }} )">
  <div class="intro__content">
    <h1 class="intro__heading">
      {% if tag %}
      <span class="intro__heading--large">Posts tagged: “{{ tag }}”</span>
      {% else %}
      <span class="intro__heading--large">Archive</span>
      All the blog posts
      {% endif %}
    </h1>
  </div>
</div>
{% endblock %}
{% block main %}
  <div class="container">
    <div class="content" id="content">
      <div class="row">
        <div class="sixteen cols">
          {% set postListItems = collections[tag] %}
          {% include "postslist.njk" %}
          <nav>
            <a href="{{ '/blog/' | url }}">← Blog index</a>
          </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
