---
eleventyComputed:
  title: 'Posts tagged "{{ tag }}"'

pagination:
  data: collections
  size: 1
  alias: tag
permalink: blog/tags/{{ tag }}/
---
{% extends 'layouts/blog.njk' %}

{% block intro %}
<div class="intro" style="background-image: url('{{ introImage }}'')">
  <div class="intro__content">
    <h1 class="intro__heading">
      {% if tag %}
      <span class="intro__heading--large">Posts tagged: “{{ tag }}”</span>
      {% else %}
      <span class="intro__heading--large">Archive</span>
      All the blog posts
      {% endif %}
    </h1>
  </div>
</div>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="content" id="content">
      <ul class="post-list">
        {%- for post in collections[tag] | reverse -%}
        <li>
          <div class="block block--thumb">
            <a href="{{ post.url }}" class="b-inner">
              <div class="b-text">
                <h3 class="b-title">{{ post.data.title }}</h3>
                <div class="meta">
                  <small><time class="dt-published" datetime="{{ post.date | w3DateFilter }}">{{ post.date | dateFilter }}</time></small>
                </div>
                <p>{{ post.data.description }}</p>
              </div>
            </a>
          </div>
        </li>
        {%- endfor -%}
      </ul>
  </div>
</div>
{% endblock %}
