{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="section section--intro">
          <div class="content">
            <p>I'd love to hear about your project, and see if I'm the right fit to help you grow. Fill out the form below or give me a call on {{ site.author.phone }} and we'll make it happen.</p>
            <hr class="u-mb-0 u-mt-3">
          </div>
        </section>

        <div class="container u-pt-0">
          <div class="content" id="content">
            <div class="row">
              <div class="ten cols">
                <p>If you're looking to start a project or give your existing website a fresh new look, make an enquiry about front-end web development services or find out about availability, please use the form below.</p>

                <form id="contact" class="form-horizontal" method="post" role="form" action="FormMail.pl" method="post">
                  <input type="hidden" name="recipient" value="hello@juanfernandes.uk" />
                  <input type="hidden" name="required" value="name,email,message" />
                  <input type="hidden" name="subject" value="Contact" />
                  <input type="hidden" name="missing_fields_redirect" value="error.html" />
                  <input type="hidden" name="redirect" value="/thank-you.html" />
                  <input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT" />

                  <div class="control-group">
                    <label class="control-label" for="name">Your name: <span class="required">*</span></label>
                    <div class="controls">
                      <input type="text" id="name" name="name" class="input input--xxlarge" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="email">Your email address: <span class="required">*</span></label>
                    <div class="controls">
                      <input type="email" id="email" name="email" class="input input--xxlarge" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="message" class="control-label">Your message: <span class="required">*</span></label>
                    <div class="controls">
                      <textarea id="message" name="message" cols="30" rows="5" required></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button class="button button--cta u-width-auto" type="submit">Send</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="six cols">
                <ul>
                  <li><strong>Email:</strong> <a href="mailto:{{ site.author.email }}" title="{{ site.author.email }}">{{ site.author.email }}</a></li>
                  <li><strong>Call:</strong> <a href="tel:{{ site.author.phone }}" title="{{ site.author.phone }}">{{ site.author.phone }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
