---
title: "Thank You"

description: "Juan Fernandes – Freelance / Contract Web Developer"

keywords: "juan fernandes, freelance contract web developer suffolk, freelance website designer suffolk uk"

intro:
  class: "contact"
  heading: "Thank you"
  subheading: "I will be in touch soon"
---
{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="section section--intro">
          <div class="content">
            <p>Thanks for getting in touch. I will get back to you soon.</p>
          </div>
        </section>
{% endblock %}
