/* Grid
================================================== */
.row,
.thirds {
  margin-bottom: 1.25em;
  width: 100%;
}

.row:after,
.thirds:after {
  clear: both;
  content: "";
  display: table;
}

.row .col,
.row .cols,
.thirds .col {
  margin-bottom: 2%;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fifteen,
.sixteen,
.third {
  width: 100%;
}

.col:first-child,
.cols:first-child,
.thirds .col:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 40em) {
  /* 640 =================================================== */
  .alignleft {
    float: left;
    margin: 0% 2% 2% 0;
  }

  .alignright {
    float: right;
    margin: 0% 0 2% 2%;
  }

  .col,
  .cols {
    float: left;
    margin-left: 2%;
  }

  .col:first-child,
  .cols:first-child {
    margin-left: 0;
  }

  .thirds .col {
    float: left;
    margin-left: 1.545%;
    width: 32.29166666666667%;
  }

  .alt-spacing {
    margin-left: 4.5%;
  }

  .one {
    width: 4.375%;
  }

  .two {
    width: 10.75%;
  }

  .three {
    width: 17.125%;
  }

  .four {
    width: 48%;
  }

  .five {
    width: 29.875%;
  }

  .six {
    width: 36.25%;
  }

  .seven {
    width: 42.625%;
  }

  .eight {
    width: 49.0%;
  }

  .nine {
    width: 55.375%;
  }

  .ten {
    width: 61.75%;
  }

  .eleven {
    width: 68.125%;
  }

  .twelve {
    // width: 74.5%;
    width: 100%;
  }

  .thirteen {
    width: 80.875%;
  }

  .fourteen {
    width: 87.25%;
  }

  .fifteen {
    width: 93.625%;
  }

  .sixteen {
    width: 100%;
  }
}

@media only screen and (min-width: 60em) {
  /* 960 =================================================== */
  .four {
      width: 23.5%;
  }
  .twelve {
      width: 74.5%;
  }
}

.grid-2-col {
  display: grid;
  gap: 4rem;

  @media only screen and (min-width: 40em) {/* 640 */
    grid-template-columns: 2fr 2fr;
  }
}
