/* $_Pagination
================================================== */
.pagination ul {
  border-radius: .1875em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  li {
    display: inline;

    &:first-child a {
      border-left-width: 1px;
      border-radius: .1875em 0 0 .1875em;
    }

    &:last-child a {
      border-radius: 0 .1875em .1875em 0;
    }
  }

  a {
    border: 1px solid var(--dark-grey);
    border-left-width: 0;
    color: #333;
    float: left;
    line-height: 1.75;
    padding: 0 0.625em;
    text-decoration: none;
    outline: 0 none;

    &:hover {
      background-color: var(--off-white);
    }

    &.active {
      background-color: var(--off-white);
      color: var(--dark-grey);
      cursor: default;
    }
  }

  .disabled {
    span {
      background-color: transparent;
      color: var(--dark-grey);
      cursor: default;
    }

    a {
      background-color: transparent;
      color: var(--dark-grey);
      cursor: default;
    }

    a:hover {
      background-color: transparent;
      color: var(--dark-grey);
      cursor: default;
    }
  }
}
