/* $_Pager
================================================== */
.pager {
  list-style: none;
  margin-bottom: 1.125em;
  margin-left: 0;
  text-align: center;
  padding: 0;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }

  li {
    display: inline;
  }

  a {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: .9375em;
    display: inline-block;
    text-decoration: none;
    padding: 5px 14px;

    &:hover {
      background-color: var(--off-white);
    }
  }

  .next a {
    float: right;
  }

  .previous a {
    float: left;
  }

  .disabled a {
    background-color: var(--white);
    color: var(--light-grey);
    cursor: default;

    &:hover {
      background-color: var(--white);
      color: var(--light-grey);
      cursor: default;
    }
  }
}
