/* $_Pagination
================================================== */
.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5ch;
  justify-content: space-between;
  padding-bottom: 40px;
  position: relative;
  width: 100%;

  &__pages {
    bottom: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: 40em) { // 640
      padding-bottom: 0;
      position: relative;
      width: auto;
    }

    a {
      align-content: center;
      border: 1px solid;
      height: 30px;
      margin: 0;
      padding: 0;
      width: 30px;

      &:hover,
      &:focus {
        background-color: var(--orange);
        border-color: var(--orange);
      }
    }
  }

  [aria-current="page"] {
    background-color: var(--orange);
    border-color: var(--orange);
  }
}
