/* $_Pagination
================================================== */
.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5ch;
  justify-content: space-between;
  position: relative;
  width: 100%;

  &__pages {
    bottom: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: 40em) { // 640
      padding-bottom: 0;
      position: relative;
      width: auto;
    }

    a {
      align-content: center;
      border: 1px solid;
      height: 30px;
      margin: 0;
      padding: 0;
      width: 30px;

      &:hover,
      &:focus {
        background-color: var(--orange);
        border-color: var(--orange);
      }
    }
  }

  [aria-current="page"] {
    background-color: var(--orange);
    border-color: var(--orange);
  }
}

.post-pagination {
  // border-top: 1px solid var(--orange);
  display: grid;
  gap: var(--space, 1rem);
  grid-template-columns: 1fr 1fr;
  margin-top: 54px;
  // padding-top: 2rem;

  &__item {
    border-radius: 0.75rem;
    border: 1px solid var(--light-grey);
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    position: relative;

    &:hover,
    &:focus {
      border-color: var(--orange);
      transform: translateY(-4px);
    }

    span {
      background: white;
      display: block;
      font-size: 1.2rem;
      padding: 0 2px;
      position: absolute;
      text-transform: uppercase;
      top: -10px;
    }

    strong {
      display: block;
      line-height: 1.4;
      margin-top: 0.25rem;
      width: 100%;
    }

    &-grid {
      align-items: center;
      display: grid;
      gap: 1rem;
      height: 100%;
    }
    &--previous {
      .post-pagination__item-grid {
        grid-template-columns: 32px 3fr;
      }
      span {
        left: 10px
      }
    }
    &--next {
      .post-pagination__item-grid {
        grid-template-columns: 3fr 32px;
      }
      span {
        right: 10px
      }
    }
  }

  &--older {
    text-align: right;
    grid-column: 2;
  }
}

@media (max-width: 600px) {
  .post-pagination {
    grid-template-columns: 1fr;
  }

  .post-pagination__item--older {
    grid-column: auto;
    text-align: left;
  }
}
