/*
 * Remove text-shadow in selection highlight
 */
::-moz-selection {
  background: var(--orange);
  color: var(--black);
  text-shadow: none;
}
::selection {
  background: var(--orange);
  color: var(--black);
  text-shadow: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
* IE10 Touch Browsing Default
*/
canvas {
  -ms-touch-action: double-tap-zoom;
}

/*
 * A better looking default horizontal rule
 */
hr {
  border: 0;
  border-top: 1px solid var(--light-grey);
  display: block;
  height: 1px;
  margin: 0 0 54px 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
