.resp-sharing-button__link {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-right: .5em;
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus {
    color: #fff;

    .resp-sharing-button {
      &--facebook {
        background-color: #2d4373;
        border-color: #2d4373;
      }

      &--twitter {
        background-color: #2795e9;
        border-color: #2795e9;
      }

      &--google {
        background-color: #c23321;
        border-color: #c23321;
      }

    }
  }

  .resp-sharing-button {
    border-radius: 2px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: .4em .75em;
    transition: 25ms ease-out;

    &__icon {
      display: inline-block;
      fill: none;
      stroke: #fff;

      &--solid,
      &--solidcircle {
        fill: #fff;
        stroke: none
      }
    }

    svg {
      height: 1em;
      margin-right: 4px;
      vertical-align: text-top;
      width: 1em;
    }

    // Networks
    &--facebook {
      background-color: #3b5998;
      border-color: #3b5998;
    }

    &--twitter {
      background-color: #55acee;
      border-color: #55acee;
    }

    &--google {
      background-color: #dd4b39;
      border-color: #dd4b39;
    }
  }
}