/* $_Videos_and_other_media
================================================== */
video {
  width: 100%;

  .vendor {
    background: #d1eed1;
    margin-bottom: 2em;
    padding: 2%;
  }

  .unsupported {
    background: #fddfde;
  }
}