@import "../plugins/tiny-slider";

.tns-outer {
  position: relative;
}

.tns-nav {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  width: 100%;

  button {
    background-color: var(--black);
    border-radius: 50%;
    border: 1px solid var(--orange);
    height: 15px;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    width: 15px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.tns-nav-active,
    &:hover,
    &:focus {
      background-color: var(--orange);
      outline: none;
    }
  }
}

.tns-controls {
  height: 32px;
  outline: none;
  position: absolute;
  top: calc(50% - 16px);
  width: 100%;

  [data-controls="prev"],
  [data-controls="next"] {
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 32px;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    transition: all 0.3s ease 0s, transform 0.3s ease 0s;
    width: 32px;
    z-index: 1;
  }

  [data-controls="prev"] {
    background: rgba(0,0,0,.6) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 20 20'%3E%3Cdefs/%3E%3Cpath d='M8.388 10.049l4.76-4.873a.783.783 0 00-1.117-1.093L6.726 9.516a.78.78 0 00.012 1.105l5.433 5.307a.784.784 0 001.106-.013.78.78 0 00-.012-1.104l-4.877-4.762z'/%3E%3C/svg%3E");
    left: 0;

    &:hover,
    &:focus {
      background: rgba(0,0,0,.8) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F89820' viewBox='0 0 20 20'%3E%3Cdefs/%3E%3Cpath d='M8.388 10.049l4.76-4.873a.783.783 0 00-1.117-1.093L6.726 9.516a.78.78 0 00.012 1.105l5.433 5.307a.784.784 0 001.106-.013.78.78 0 00-.012-1.104l-4.877-4.762z'/%3E%3C/svg%3E");
      outline: none;
    }
  }

  [data-controls="next"] {
    background: rgba(0,0,0,.6) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 20 20'%3E%3Cdefs/%3E%3Cpath d='M11.611 10.049l-4.76-4.873a.783.783 0 011.117-1.093l5.306 5.433a.78.78 0 01-.012 1.105L7.83 15.928a.784.784 0 01-1.106-.013.78.78 0 01.012-1.104l4.875-4.762z'/%3E%3C/svg%3E");
    right: 0;

    &:hover,
    &:focus {
      background: rgba(0,0,0,.6) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F89820' viewBox='0 0 20 20'%3E%3Cdefs/%3E%3Cpath d='M11.611 10.049l-4.76-4.873a.783.783 0 011.117-1.093l5.306 5.433a.78.78 0 01-.012 1.105L7.83 15.928a.784.784 0 01-1.106-.013.78.78 0 01.012-1.104l4.875-4.762z'/%3E%3C/svg%3E");
      outline: none;
    }
  }
}
