--- 
title: Social Links
layout: page
class: links
intro:
  class: sml
---

<div class="container">
  <div class="links-grid">
  {% for item in sociallinks %}
    <a href="{{ item.url }}" target="_blank" rel="me noopener noreferrer" title="{{ item.name }}" class="link-card">
      <svg aria-hidden="true" focusable="false" width="32" height="32" stroke="#000">
        <use xlink:href="#svg-{{ item.icon }}" />
      </svg>
      <b>{{ item.name }}</b>
    </a>
  {% endfor %}
  </div>
</div>
