--- 
title: Links
description: test test
layout: page
class: links
date: 2024-04-15T11:30:00Z
intro:
  class: sml
  subheading: Sharing links to articles I've read
---
  <p class="lead">This is a curated list of articles I've read and have shared online as I believe they are worth sharing. I aim to update this list on a weekly basis. You can keep up to date with all the links I share by revisiting this page, or alternately, you can subscribe to the RSS feed for links.</p>
  <p class="dt-published">Updated on: <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time></p>
  <p>
    <a href="/rss/links.xml" class="u-border-none u-flex--inline u-vert-center">
      <svg class="u-mr-1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f89820" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
      <span>RSS Feed for links</span>
    </a>
  </p>

  <hr>

  {%- for link in links | reverse -%}
  <div class="link">
    <div class="link__details">
      <h3><a href="{{ link.url }}">{{ link.title }}</a></h3>
      {% if link.excerpt %}<p>{{ link.excerpt | safe }}</p>{% endif %}
      <div class="link__meta">
        {% if link.author %}<span>Author: <a href="{{ link.author.url }}" class="link__author u-inline-block">{{ link.author.name }}</a></span>{% endif %}
        {% if link.date %}<span class="link__date">Read on: {{ link.date }}</span>{% endif %}
      </div>
    </div>
  </div>
  {%- endfor -%}
