--- 
title: Links
layout: page
class: links
intro:
  class: sml
  subheading: Sharing links to articles I've read
---

{% for month in links | reverse %}
<h2 class="month">{{ month.month }}</h2>

  {%- for link in month.links | reverse -%}
  <div class="link">
    <div class="link__details">
      <h3><a href="{{ link.url }}">{{ link.title }}</a></h3>
      {% if link.excerpt %}<p>{{ link.excerpt | safe }}</p>{% endif %}
      <span class="link__date dt-published">Published on {{ link.date }}</span>
    </div>
  </div>
  {%- endfor -%}
{% endfor %}
