---
layout: page
title: Tracks
bodyClass: music
pagination:
  data: lastfmRecent.weekTopTracks
  size: 50
  alias: items
permalink: "/logs/listening/tracks/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% set section = section or "logs" %}
{% include "components/dash-nav.njk" %}

<div class="grid grid-9-3 gap-2">
  <div>
    <h2>All Tracks (this week)</h2>
    <nav>
      <div class="nav--inline">
        <span>← <a href="/logs/listening/">Back to listening</a></span>
      </div>
    </nav>

    <ol class="music-list" start="{{ pagination.pageNumber * pagination.size + 1 }}">
      {% for t in items %}
        <li class="list-item">{{ t.name }} - {{ t.artist }} · <span class="tag">{{ t.plays }} plays</span></li>
      {% endfor %}
    </ol>

    {% include 'components/pagination.njk' %}
  </div>

  <div class="sidebar meta">
    <h3 class="heading">
      <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-music" /></svg>
      <span>Listening</span>
    </h3>
    <nav>
      <ul class="u-flex u-flex-col">
        <li><a href="/logs/listening/albums/">Albums</a></li>
        <li><a href="/logs/listening/tracks/">Tracks</a></li>
        <li><a href="/logs/listening/artists/">Artists</a></li>
      </ul>
    </nav>

    {% if lastfmRecent.weekSummary or musicAllTimeStats.tracks %}
    <div class="u-mt-2">
      <h3 class="heading">
        <svg aria-hidden="true" width="24" height="24"><use xlink:href="#svg-stats" /></svg>
        <span>Stats</span>
      </h3>
      <p>This week I’ve listened to <strong>{{ lastfmRecent.weekSummary.tracks }}</strong> tracks.</p>
      <p>I've listened to a total of <strong>{{ musicAllTimeStats.tracks }}</strong> tracks.</p>
    </div>
    {% endif %}
  </div>
</div>
