---
layout: page
title: Tracks
bodyClass: music
pagination:
  data: lastfmRecent.weekTopTracks
  size: 50
  alias: items
permalink: "/music/tracks/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="grid grid-9-3 gap-2">
  <div>
    <h2>All Tracks (this week)</h2>

    <nav>
      <div class="nav--inline">
        <span>← <a href="/music/">Back to music</a></span>
      </div>
    </nav>

    <ol class="music-list" start="{{ pagination.pageNumber * pagination.size + 1 }}">
      {% for t in items %}
        <li class="list-item">{{ t.name }} - {{ t.artist }} · <span class="tag">{{ t.plays }} plays</span></li>
      {% endfor %}
    </ol>

    {% include 'components/pagination.njk' %}
  </div>

  <div class="sidebar meta">
    {% if lastfmRecent.weekSummary %}
    <h3 class="heading">This week</h3>
    <p>
      I’ve listened to 
      <strong>{{ lastfmRecent.weekSummary.tracks }}</strong> tracks this week.
    </p>
    {% endif %}
    <h3 class="heading">All-time</h3>
    <ul class="list-style-none">
      <li><strong>{{ musicAllTimeStats.tracks }}</strong> tracks</li>
    </ul>
  </div>
</div>
