---
title: "Blogroll"
layout: "page"
class: "blogroll"
rssUrlTitle: "All RSS feeds"
rssUrl: "/blogroll/feeds.xml"
intro:
  class: "sml"
tags:
  - search
---
<div class="links-grid">
  {% for blog in blogroll %}
  <div class="link-card">
    <a class="link-card__link" href="{{ blog.url }}" target="_blank">
      {% if blog.icon %}
      <img src="{{ blog.icon }}" alt="{{ blog.name }}" width="32" height="32" />
      {% endif %}
      <b>{{ blog.name }}</b>
    </a>
    {% if blog.feed %}
    <a class="link-card__link" href="{{ blog.feed }}" title="RSS Feed Link for {{ blog.name }}" target="_blank"><svg aria-hidden="true" width="16" height="16" focusable="false"><use xlink:href="#svg-rss" /></svg></a>
    {% endif %}
  </div>
  {% endfor %}
</div>
