---
title: Blogroll
layout: page-sidebar
class: blogroll
rssUrlTitle: "All RSS feeds"
rssUrl: "/blogroll/feeds.xml"
intro:
  class: sml
---

<div class="links-grid">
  {% for blog in blogroll %}
  <a href="{{ blog.url }}" class="link-card">
    {% if blog.icon %}
    <img src="{{ blog.icon }}" alt="{{ blog.name }}" width="32" height="32" />
    {% endif %}
    <b>{{ blog.name }}</b>
  </a>
  {% endfor %}
</div>

