---
layout: page
title: Albums
bodyClass: music
pagination:
  data: lastfmRecent.weekTopAlbums
  size: 50
  alias: items
permalink: "/music/albums/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="grid grid-9-3 gap-2">
  <div>
    <h2>All Albums (this week)</h2>

    <nav>
      <div class="nav--inline">
        <span>← <a href="/music/">Back to music</a></span>
      </div>
    </nav>

    <ol class="music-list" start="{{ pagination.pageNumber * pagination.size + 1 }}">
      {% for a in items %}
        <li class="list-item">{{ a.album }} - {{ a.artist }} · <span class="tag">{{ a.plays }} plays</span></li>
      {% endfor %}
    </ol>

    {% include 'components/pagination.njk' %}
  </div>

  <div class="sidebar meta">
    {% if lastfmRecent.weekSummary %}
    <h3 class="heading">This week</h3>
    <p>
      I’ve listened to 
      <strong>{{ lastfmRecent.weekSummary.albums }}</strong> albums this week.
    </p>
    {% endif %}
    <h3 class="heading">All-time</h3>
    <ul class="list-style-none">
      <li><strong>{{ musicAllTimeStats.albums }}</strong> albums</li>
    </ul>
  </div>
</div>
