---
layout: page
title: Artists
bodyClass: music
pagination:
  data: lastfmRecent.weekTopArtists
  size: 50
  alias: items
permalink: "/music/artists/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="grid grid-9-3 gap-2">
  <div>
    <h2>All Artists (this week)</h2>

    <nav>
      <span>← <a href="/music/">Back to music</a></span>
    </nav>

    <ol start="{{ pagination.pageNumber * pagination.size + 1 }}">
      {% for a in items %}
        <li>{{ a.name }} · <span class="tag">{{ a.plays }} plays</span></li>
      {% endfor %}
    </ol>

    {% include 'components/pagination.njk' %}
  </div>
  <div class="sidebar meta">
    <h3 class="heading">This week</h3>
    {% if lastfmRecent.weekSummary %}
    <p>
      I’ve listened to 
      <strong>{{ lastfmRecent.weekSummary.artists }}</strong> artists this week.
    </p>
    {% endif %}
  </div>
</div>
