{% set currentUrl = site.url + page.url %}
{% set pageTitle = title + ' - ' + site.meta.title %}
{% if item.url in page.url %}
    {% set currentAttribute = 'aria-current="page"' %}
{% endif %}

<!doctype html>
  <html class="no-js" lang="en">
  <head>
    <title>{% if title == 'Home' %}{{ site.meta.title }}{% else %}{{ pageTitle }}{% endif %}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="twitter:site" content="{{ site.meta.ogTwitter }}" />
    <meta name="twitter:url" property="og:url" content="{{ currentUrl }}">
    <meta name="twitter:title" property="og:title" content="{{ title }}">
    <meta name="twitter:description" property="og:description" content="{{ description }}">
    {% if postImage %}
    <meta name="twitter:image" property="og:image" content="{{ site.url }}{{ postImage }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="Post image for: {{ title }}" />
    {% else %}
    <meta name="twitter:image" property="og:image" content="{{ site.meta.ogImg }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="{{ site.meta.ogImgAlt }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ site.generator }}">
    <meta property="fediverse:creator" content="@juanfernandes@indieweb.social" />
    <link rel="canonical" href="{{ currentUrl }}" />
    <link rel="alternate" hreflang="en-GB" href="{{ currentUrl }}" />
    <link rel="alternate" type="application/rss+xml" title="Blog posts from JuanFernandes.uk" href="https://www.juanfernandes.uk/rss/feed.xml">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="icon" href="{{ cloudinary_url }}/favicon.ico">
    <link rel="icon" href="{{ cloudinary_url }}/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ cloudinary_url }}/apple-touch-icon.png">
    <meta name="theme-color" content="#F89820">
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    {% for item in site.socials %}
    <link href="{{ item.url }}" rel="me" />
    {% endfor %}
    <link rel="stylesheet" href="/assets/css/global.min.css">
  </head>

  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

    {% include 'misc/svg.njk' %}
    {% if site.announcement %}
    {% include 'components/announcement.njk' %}
    {% endif %}
    {% include 'components/header.njk' %}

    <nav><a class="skip" href="#content">Skip to content</a></nav>

    <div class="page">
      <main role="main" class="main">
        {% include 'components/intro.njk' %}

        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>

      {% include 'components/footer.njk' %}
    </div>
  </body>
</html>
