{% set currentUrl = site.url + page.url %}

<!doctype html>
  <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="twitter:site" content="{{ site.meta.ogTwitter }}" />
    <meta name="twitter:url" property="og:url" content="{{ currentUrl }}">
    <meta name="twitter:title" property="og:title" content="{{ title }}">
    <meta name="twitter:description" property="og:description" content="{{ description }}">
    {% if postImage %}
    <meta name="twitter:image" property="og:image" content="{{ site.url }}{{ postImage }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="Post image for: {{ title }}" />
    {% else %}
    <meta name="twitter:image" property="og:image" content="{{ site.meta.ogImg }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="{{ site.meta.ogImgAlt }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ currentUrl }}" />
    <link rel="alternate" hreflang="en-GB" href="{{ currentUrl }}" />
    <link rel="alternate" type="application/rss+xml" title="Blog posts from JuanFernandes.uk" href="https://www.juanfernandes.uk/rss">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.juanfernandes.uk/rss/design">
    <link rel="dns-prefetch" href="https://www.multicreativemedia.co.uk">
    <link rel="prefetch" href="https://res.cloudinary.com/juanfernandes/juanfernandes-logo.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">
    <link href="https://micro.blog/juanfernandes" rel="me" />
    <link rel="stylesheet" href="/assets/css/global.min.css">

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "JuanFernandes.uk",
        "image": "https://res.cloudinary.com/juanfernandes/juanfernandes-logo.svg",
        "description": "Juan Fernandes - Freelance/Contract Website Designer",
        "url": "https:/juanfernandes.uk",
        "contactPoint" : [{
          "@type" : "ContactPoint",
          "telephone" : "+44 7549 936 695",
          "contactType": "sales",
        }],
        "sameAs": ["http://twitter.com/juanfernades","https://www.instagram.com/_juanfernandes","https://mastodon.social/@juanfernandes"]
      }
    </script>
    <script>
      if('serviceWorker' in navigator && window.location.hostname !== "localhost" ) {
        navigator.serviceWorker.register('/sw.js');
      }
    </script>
  </head>

  <body{% if bodyClass %} class="{{bodyClass}}"{% endif %}>

    {% include 'misc/svg.njk' %}
    {% include 'components/header.njk' %}
    {% include 'components/intro.njk' %}

    <a class="skip" href="#content">Skip to content</a>

    <div class="page">
      <main role="main" class="main">
        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>

      {% include 'components/footer.njk' %}

      <script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
      <script type="text/javascript" charset="UTF-8" src="/assets/js/global.min.js"></script>
    </div>
  </body>
</html>
