{% set currentUrl = site.url + page.url %}
{% set pageTitle = title + ' - ' + 'Blog - ' + site.meta.title %}
{% set tagsTitle = tag + ' - ' + 'Blog - ' + site.meta.title %}

<!doctype html>
  <html class="no-js" lang="en">
  <head>
    <title>{% if tag %}Tag: {{ tagsTitle }}{% else %}{{ pageTitle }}{% endif %}</title>
    {% if tag %}<meta name="description" content="Posts by Juan Fernandes tagged as {{ tag }}" />{% else %}<meta name="description" content="{{ description }}" />{% endif %}
    {% if tag %}<meta name="keywords" content="{{ tag }}, web design, website design, web dev, web development, website development" />{% else %}<meta name="keywords" content="{{ keywords }}" />{% endif %}
    <meta name="twitter:site" content="{{ site.meta.ogTwitter }}" />
    <meta name="twitter:url" property="og:url" content="{{ currentUrl }}">
    <meta name="twitter:title" property="og:title" content="{% if tag %}Tag: {{ tagsTitle }}{% else %}{{ pageTitle }}{% endif %}">
    <meta name="twitter:description" property="og:description" content="{{ description }}">
    {% if postImage %}
    <meta name="twitter:image" property="og:image" content="{{ site.cloudinary_url }}w_1200,f_auto/l_juanfernandes-logo,w_100,g_south_east,x_60,y_40/l_text:Georgia_60_bold_center:{{ title }},co_rgb:eee,c_fit,w_600/{{ postImage }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="{% if tag %}Tag: {{ tagsTitle }}{% else %}{{ pageTitle }}{% endif %}" />
    {% else %}
    <meta name="twitter:image" property="og:image" content="{{ site.meta.ogImg }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="{{ site.meta.ogImgAlt }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ currentUrl }}" />
    <link rel="alternate" hreflang="en-GB" href="{{ currentUrl }}" />
    <link rel="alternate" type="application/rss+xml" title="Blog posts from JuanFernandes.uk" href="https://www.juanfernandes.uk/rss/feed.xml">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <meta name="generator" content="{{ site.generator }}">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="webmention" href="https://webmention.io/www.juanfernandes.uk/webmention" />
    <link rel="pingback" href="https://webmention.io/www.juanfernandes.uk/xmlrpc" />

    <link rel="icon" href="{{ cloudinary_url }}/favicon.ico">
    <link rel="icon" href="{{ cloudinary_url }}/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ cloudinary_url }}/apple-touch-icon.png">
    <meta name="theme-color" content="#F89820">

    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    {% for item in site.socials %}
    <link href="{{ item.url }}" rel="me" />
    {% endfor %}
    <link rel="stylesheet" href="/assets/css/global.min.css">
  </head>

  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

    {% include 'misc/svg.njk' %}
    {% if site.announcement %}
    {% include 'components/announcement.njk' %}
    {% endif %}
    {% include 'components/header.njk' %}

    <a class="skip" href="#content">Skip to content</a>

    <div class="page">

      {% block intro %}
        {{ content | safe }}
      {% endblock %}

      <main role="main" class="main" id="content">
        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>

      {% include 'components/footer.njk' %}
    </div>
  </body>
</html>
