---
meta:
  title: Photos

intro:
  class: sml

bodyClass: blog
---

{% extends 'layouts/base.njk' %}

{% block main %}
<div class="container">
  <div class="content">
    <article class="post post--img | h-entry" role="article">

      <figure>
        <img src="{{ site.cloudinary_url }}w_1141,f_auto{{ postImage }}" alt="{{ alt }}" width="720" loading="lazy">
        {% if caption %}
        <figcaption>
          {{ caption }}
        </figcaption>
        {% endif %}
      </figure>

      <p class="meta">
        <small>Posted on <time class="dt-published" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>, by <a href="/about/" rel="author">Juan Fernandes</a> in {% for item in tags %}<a href="/tags/{{ item }}" class="p-category">{{ item }}</a> {% endfor %}</small>
      </p>
    </article>
  </div>
</div>
{% endblock %}
