{% extends 'layouts/blog.njk' %}

{% block intro %}
<div class="intro intro--sml" style="background-image: url('{{ site.url }}/assets/imgs/trianglify.png')">
  <div class="intro__content">
    <h1 class="intro__heading">
      <span class="intro__heading--large">{{ title }}</span>
    </h1>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
  <div class="content">
    <article class="post post--img | h-entry" role="article">

      <figure>
        <img src="{{ site.url }}{{ image }}" alt="{{ alt }}" width="720" loading="lazy">
        {% if caption %}
        <figcaption>
          <h2>{{ caption }}</h2>
        </figcaption>
        {% endif %}
      </figure>

      <p class="meta">
        <small>Posted on <time class="dt-published" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>, by <a href="/about" rel="author">Juan Fernandes</a> in {% for item in tags %}<a href="/tags/{{ item }}" class="p-category">{{ item }}</a> {% endfor %}</small>
      </p>
    </article>

    {% include 'components/signup-form.njk' %}
  </div>
</div>
{% endblock %}
