{% extends 'layouts/base.njk' %}

{% block main %}
<div class="{{ class }}">
  <div class="content">
    <div class="row">
      <div class="twelve cols">
      {{ content | safe }}
      </div>

      <div class="sidebar meta / four cols">
        {% include 'components/bio.njk' %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
