{% extends 'layouts/blog.njk' %}

{% block intro %}
<section class="intro{% if introClass %} intro--{{ introClass }}{% endif %}"{% if postImage %} style="background-image: url('{{ site.cloudinary_url }}f_auto/{{ postImage }}'')"{% endif %}>
  <div class="intro__content">
    <h1 class="intro__heading">
      <span class="intro__heading--large">{{ title }}</span>
      {{ subheading }}
    </h1>
  </div>
</section>
{% endblock %}

{% block main %}
<div class="now">
  <article class="content">

    {{ content | safe }}

    {% if page.url == now %}
      {% include "now-footer.njk" %}
    {% endif %}
  </article>
</div>
{% endblock %}
