{% extends 'layouts/base.njk' %}

{% block main %}
<div class="{{ class }}">
  <div class="content{% if contentClass %} {{ contentClass }}{% endif %}" id="content">
    {{ content | safe }}

    {% if page.url == "/now/" %}
      {% include "components/read-articles.njk" %}
      {% include "components/now-footer.njk" %}
    {% endif %}
  </div>
</div>
{% endblock %}
