{% extends 'layouts/blog.njk' %}

{% block intro %}
<div class="intro intro--sml intro--post{% if customPostImg %} {{ customPostImg }}{% endif %}">
  <div class="intro__content">
    <h1 class="intro__heading">
      <span class="intro__heading--large">{% if intro.heading %}{{ intro.heading }}{% else %}{{ title }}{% endif %}</span>
      {{ intro.subheading }}
    </h1>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
  <div class="content content--slim">
    <article class="post h-entry">

      {{ content | safe }}

    {% if shareLink %}
      {% include 'components/mastodon-post.njk' %}
    {% endif %}

      <hr>
      <div class="meta">
        <p>{% if edited %}Edited on <time class="dt-published" datetime="{{ edited | w3DateFilter }}">{{ edited | dateFilter }}</time><br>{% endif %}
        Posted on <time class="dt-published" datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>, by <a href="/about/" rel="author">Juan Fernandes</a></p>
      </div>
    </article>

    {% include 'components/social-share.njk' %}

  </div>
</div>
{% endblock %}
