--- 
title: Books
layout: page
---

<div class="books">
    {% for year in books %}
    <h2 class="year">{{ year.year }}</h2>
    <div class="bookshelf">
        {% for book in year.books %}
        <div class="book">
            <a href="{{ book.url }}" aria-label="Buy {{ book.title }}">
                <img src="{{ book.img }}" alt="" width="180" height="276">
            </a>
            <h2>{{ book.title }}</h2>
            {% if book.title %}<p>{{ book.subtitle }}</p>{% endif %}
            <p>{{ book.author }}</p>
            {% if book.notes %}
            <details>
                <summary>{{ book.rating }}</summary>
                <div class="notes">{{ book.notes }}</div>
            </details>
            {% else %}
            {% if book.rating %}<p>{{ book.rating }}</p>{% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<style>
    .year {
        margin-bottom: 1.5em;
    }

    .bookshelf + .year {
        margin-top: 3em;
    }

    .bookshelf {
        display: grid;
        grid-gap: calc(1em + 2vw);
        grid-template-columns: 1fr 1fr;

        font-size: 0.875em;
        margin-bottom: calc(1em + 2vw);
        line-height: 1.2;
    }

    .book img {
        height: 200px;
        object-fit: contain;
    }

    @media (min-width: 30em) {
        .bookshelf {
            grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));

        }
        .book img {
            height: 270px;
        }
    }

    .book > *+* {
        margin-top: 0.5em;
    }

    .book details {
        display: block;
        position: relative;
    }
    .book details > div {
        top: 100%;
        position: absolute;
        z-index:1;
        background: var(--bg);
        padding: 1.5em 0.5em 0.5em;
        border: 1px solid var(--border);
        margin: -1.5em -0.5em;
    }


    details > summary {
        cursor: pointer;
        position: relative;
        outline: 0;
    }

    details > *:not(summary) {
        display: none;
        animation: fadeIn 0.2s ease-out;
    }

    details[open] > summary {
        z-index: 2;
    }

    details[open] > *:not(summary) {
        display: block;
    }

    @keyframes fadeIn {
        0% { opacity: 0; transform: scale( 0.9 ) }
        100% { opacity: 1; transform: scale( 1 ); }
    }
</style>
