--- 
title: "Changelog"
description: "All about this website, including tech used etc"
layout: "page-sidebar"
class: "colophon"
date: 2024-05-14T14:30:00Z
intro:
  class: "sml"
tags:
  - search
---
<p class="lead">The changelog page on my website provides a summary of recent changes and displays the GIT commit history for the site's repository.</p>

  {% include "components/changelog.njk" %}
  {% include "components/git-commits.njk" %}
