--- 
title: "Changelog"
description: "All about this website, including tech used etc"
layout: "page"
class: "u-content-gap"
tags:
  - search
---
<div class="grid grid-9-3 gap-2">
  <div>
    <p class="lead">The changelog page keeps track of updates, improvements and tweaks made across the site, alongside a live view of the Git commit history from the website’s repository.</p>

    {% include "components/changelog.njk" %}
    {% include "components/git-commits.njk" %}
  </div>
  <div class="sidebar meta">
    <h3 class="heading">Source Code</h3>
    <p>The source code for this site lives on GitHub:</p>
    <a href="{{ site.sourceUrl }}" target="_blank" rel="noopener">github.com/juanfernandes/juanfernandes-uk</a>
  </div>
</div>
