{% extends 'layouts/base.njk' %}

{% block main %}
        <div class="container">
          <div class="content">
            <p>I'm an enthusiastic and experienced front-end developer who enjoys using HTML, CSS and jQuery to develop and implement stylish, responsive and user friendly websites that incorporate the latest technology and trends. I have a keen eye for detail and work closely with customers to achieve their vision.</p>
            <h3>A brief Career background</h3>
            <p>I started my career in web design over ten years ago when Tesco and RBS hired me to work on their new venture at the time 'Tesco Compare'. After three years, the company moved to Scotland and I moved on and started working for TUI travel on their Crystal Ski and Crystal Summer e-commerce websites as a UX-developer. After a year, I was offered another job at a company who worked on sites for well known car brands such as Ferrari, McLaren and Mercedes and decided to take the job at MotorTrak. I worked for this company for over two years as a front end web developer before leaving to become a full time free lance developer.</p>
            <p>Running alongside my full time career, I have had my own business where I have worked with several small businesses to get them online and have maintained their sites and custom for many years.</p>
            <h3>A little bit about my hobbies</h3>
            <p>When I'm not coding websites I enjoy the great outdoors. I love walks on the beach with my dog ‘Zack’ and mountain biking in the forest. I also enjoy garden projects such as building my children a tree house. I have a keen interest in old cars and hope to one day renovate one to its former glory.</p>
          </div>
        </div>
{% endblock %}