{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="section section--intro">
          <div class="content content--slim">
            <p>I'm collecting 11ty tips for an idea I have - please share any tips you have and I'll be sure to credit you.</p>
          </div>
        </section>

        <div class="content content--slim">
          <hr>
          <form class="form form--horizontal" name="Tips" method="POST" data-netlify="true" netlify-honeypot="bot-field">
            <div class="control-group">
              <label class="control-label" for="name">Name:</label>
              <div class="controls">
                <input id="name" name="name" class="input input--xxlarge" type="text">
                <span class="help-block"><small>(No name = anonymous)</small></span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="social">Twitter/GitHub/Other social link:</label>
              <div class="controls">
                <input id="social" name="social" class="input input--xxlarge" type="text">
                <span class="help-block"><small>(No social link = anonymous)</small></span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">Email:</label>
              <div class="controls">
                <input id="email" name="email" class="input input--xxlarge" type="email">
                <span class="help-block"><small>(Only if you want to be notified of when this goes live)</small></span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="message">What is your 11ty tip? <span class="required">*</span></label>
              <div class="controls">
                <textarea id="message" name="message" cols="30" rows="5" required="required"></textarea>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input id="submit" name="submit" class="button button--cta" value="Send Message" type="submit">
              </div>
            </div>

            <label class="hidden">Don’t fill this out if you're human: <input name="bot-field" /></label>
          </form>
        </div>
{% endblock %}
