{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="work u-pb-4">
          <div class="content" id="content">
            <h2 class="content__heading">Intelliflo Work</h2>
            <div class="grid-6-6">
              {% for item in intelliflowork %}
              <div>
                <figure class="effect">
                  <img src="{{ site.cloudinary_url }}f_auto/work/projects/{{ item.img }}" alt="{{ item.client }}" loading="lazy" width="586" height="384">
                  <figcaption>
                    <span>{{ item.name }}</span>
                    <a href="{{ item.link }}">View more</a>
                  </figcaption>
                </figure>
              </div>
              {% endfor %}
          </div>
        </section>
{% endblock %}
