---
workRoot: /work/

nav:
  next: neg
  previous: nftms
---

{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="project">
          <div class="container">
            <div class="content" id="content">
              <h2 class="project__heading">{{ project.heading }}</h2>

              {% include 'components/work-nav.njk' %}

              <div class="grid-8-4 gap-4">
              {% include 'components/work-brief.njk' %}
                <div>
                  <h3 class="project__sub-heading">📑 Details</h3>
                  {% include 'components/work-meta.njk' %}
                </div>
              </div>

            {% if images %}
              <h3 class="project__sub-heading project__sub-heading--full">🏆 Result</h3>
              {% include 'components/work-images.njk' %}
            {% endif %}

            {% if testimonial %}
              <h3 class="project__sub-heading project__sub-heading--full u-mt-4">Testimonial</h3>
              {% include 'components/work-testimonial.njk' %}
            {% endif %}

            </div>
          </div>
        </section>
{% endblock %}
