---
nav:
  next: arrival-lifts
  previous: 
---

{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="project">
          <div class="container">
            <div class="content" id="content">
              <h2 class="project__heading">{{ project.heading }}</h2>

              {% include 'components/work-nav.njk' %}

              <div class="grid-8-4 gap-4">
                <div>
                  <h3 class="project__sub-heading">Brief</h3>
                  {{ project.brief | safe }}
                </div>
                <div>
                  <h3 class="project__sub-heading">Details</h3>
                  {% include 'components/work-meta.njk' %}
                </div>
              </div>

              <h3 class="project__sub-heading project__sub-heading--full">Result</h3>
              {% include 'components/work-images.njk' %}

            </div>
          </div>
        </section>
{% endblock %}
