---
nav:
  next: fourpoints
  previous: landrover
---

{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="project">
          <div class="container">
            <div class="content" id="content">
              <h2 class="project__heading">{{ project.heading }}</h2>

              {% include 'components/work-nav.njk' %}

              <div class="row">
                <div class="ten cols">
                  {% include 'components/work-images.njk' %}
                </div>
                <div class="six cols / aside">
                  <h3 class="project__sub-heading">📑 Details</h3>
                  {% include 'components/work-meta.njk' %}

                  <h3 class="project__sub-heading">📝 Brief</h3>
                  {{ project.brief | safe }}

                  <h3 class="project__sub-heading">Requirements</h3>
                  {{ project.requirements | safe }}

                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
