---
nav:
  next:
  previous:
---

{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="project">
          <div class="container">
            <div class="content" id="content">
              <h2 class="project__heading">Virgin Wines New Website</h2>

              {% include 'components/work-nav.njk' %}

              <div class="row">
                <div class="ten cols">
                  {% include 'components/work-images.njk' %}
                </div>
                <div class="six cols / aside">
                  <h3 class="project__sub-heading">Project Details</h3>
                  <div class="project__meta">
                    <span class="project__meta--client"><strong>Client:</strong> Virgin Wines</span>
                    <span class="project__meta--role"><strong>Role:</strong> Frontend Developer</span>
                    <span class="project__meta--skills"><strong>Tech:</strong> HTML5 PHP CSS3 Responsive Sass Bourbon Neat jQuery JSON Pattern Labs GruntJS Mustache Templates</span>
                  </div>

                  <h3 class="project__sub-heading">Project Brief</h3>
                  <p>Virgin Wines hired me to work with the in house designers and developers to rebuild the customer facing part of their website.</p>
                  <p>My job was to build the header, menu system, checkout and basket pages.</p>
                  <p>Requirements:</p>
                  <ul>
                    <li>Mobile first</li>
                    <li>Responsive design</li>
                    <li>New look and feel</li>
                    <li>Pattern Library</li>
                    <li>Fully responsive header and menu</li>
                    <li>Basket and checkout pages</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
