{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="work">
          <div class="container">
            <div class="content">
              <h2 class="content__heading">Work I've Done</h2>
              <div class="row">
                <div class="eight cols">
                  <figure class="effect">
                    <img src="/assets/imgs/work/projects/mclaren-project.jpg" alt="McLaren">
                    <figcaption>
                      <p>Interest McLaren Responsive forms</p>
                      <a href="/work/mclaren/">View more</a>
                    </figcaption>
                  </figure>
                </div>
                <div class="eight cols">
                  <figure class="effect">
                    <img src="/assets/imgs/work/projects/landrover-project.jpg" alt="Land Rover">
                    <figcaption>
                      <p>Land Rover Used Vehicle Search</p>
                      <a href="/work/landrover/">View more</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="eight cols">
                  <figure class="effect">
                    <img src="/assets/imgs/work/projects/tomhartleyjnr-project.jpg" alt="Tom Hartley JNR">
                    <figcaption>
                      <p>Tom Hartley JNR Responsive website</p>
                      <a href="/work/tomhartleyjnr/">View more</a>
                    </figcaption>
                  </figure>
                </div>
                <div class="eight cols">
                  <figure class="effect">
                    <img src="/assets/imgs/work/projects/fourpoints-project.jpg" alt="Four Points">
                    <figcaption>
                      <p>Fourpoints</p>
                      <a href="/work/fourpoints/">View more</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="companies">
          <div class="container">
            <div class="content">
              <h2 class="content__heading">Who I've worked with</h2>
              <div class="client-list">
              {% for item in companies %}
                <div class="client">
                  <img class="client__logo" src="/assets/imgs/work/clients/{{ item.img }}" alt="{{ item.alt }}">
                </div>
              {% endfor %}
              </div><!-- /.clients -->
            </div>
          </div>
        </section>
{% endblock %}
