{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="work">
          <div class="container">
            <div class="content">
              <h2 class="content__heading">Work I've Done</h2>
              <div class="row">
                <div class="eight cols">
                  <figure class="effect">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/mclaren-project.jpg" alt="McLaren">
                    <figcaption>
                      <p>Interest McLaren Responsive forms</p>
                      <a href="/work/mclaren/">View more</a>
                    </figcaption>
                  </figure>
                </div>
                <div class="eight cols">
                  <figure class="effect">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/landrover-project.jpg" alt="Land Rover">
                    <figcaption>
                      <p>Land Rover Used Vehicle Search</p>
                      <a href="/work/landrover/">View more</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="eight cols">
                  <figure class="effect">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/tomhartleyjnr-project.jpg" alt="Tom Hartley JNR">
                    <figcaption>
                      <p>Tom Hartley JNR Responsive website</p>
                      <a href="/work/tomhartleyjnr/">View more</a>
                    </figcaption>
                  </figure>
                </div>
                <div class="eight cols">
                  <figure class="effect">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/fourpoints-project.jpg" alt="Four Points">
                    <figcaption>
                      <p>Fourpoints</p>
                      <a href="/work/fourpoints/">View more</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="companies">
          <div class="container">
            <div class="content">
              <h2 class="content__heading">Who I've worked with</h2>
              <div class="row">
                <div class="four cols">
                  <div class="client">
                    <img src="/assets/imgs/work/clients/hoseasons.jpg" alt="Hoseasons">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="/assets/imgs/work/clients/cmi.jpg" alt="Chartered Management Institute">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/cms/resources/intelliflo.jpg" alt="Intelliflo">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/cms/resources/ofgem.jpg" alt="Ofgem">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/globecast.jpg" alt="Globecast">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/constructionline.jpg" alt="Constructionline">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/virgin-wines.jpg" alt="Virgin Wines">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/mclaren.jpg" alt="McLaren">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/landrover.jpg" alt="Landrover">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/mercedes-benz.jpg" alt="Mercedes Benz">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/ferrari.jpg" alt="Ferrari">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/tomhartleyjnr.jpg" alt="Tom Hartley JNR">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/fourpoints.jpg" alt="Four Points">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/balfourbeatty.jpg" alt="Balfour Beatty">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/britishgas.jpg" alt="British Gas">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/britishland.jpg" alt="British Land">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/centrica.jpg" alt="Centrica">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/greeneking.jpg" alt="Greeneking">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/imperialtobacco.jpg" alt="Imperial Tobacco">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/kingfisher.jpg" alt="Kingfisher">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/prudential.jpg" alt="Prudential">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/rexam.jpg" alt="Rexam">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/aviva.jpg" alt="Aviva">
                  </div>
                </div>
                <div class="four cols">
                  <div class="client">
                    <img src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/clients/ihg.jpg" alt="IHG">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}
