{% extends 'layouts/base.njk' %}

{% block main %}
        <div class="container">
          <div class="content">
            <h3>Work</h3>
            <ul>
              <li>Started a new contract in February, working with the Chartered Management Institute in Corby, Northamptonshire. It has been extended twice, so I will be there until mid November.</li>
              <li>Started working on v2 of this website - ditching Perch CMS and trying a static site generator called <a href="https://www.11ty.io/" target="_blank" rel="noopener">Eleventy</a></li>
            </ul>

            <h3>Play</h3>
            <p>Haven't been able to play much on my PS4 since I started my current contract, as I stay in Corby for the week and I'm not taking my PS4 with me. Since my last update, I signed up to <a href="https://rawg.io/@gam3rjuan/" target="_blank" rel="noopener">rawg.io</a> - somewhere to log all my games and playing progress.</p>

            <h3>Reading</h3>
            <ul>
              <li>Still reading <a href="https://www.goodreads.com/book/show/21423216-you-re-my-favorite-client" target="_blank" rel="noopener">You're My Favorite Client by Mike Monteiro</a></li>
              <li>I'm continuing Stephen King's - The Dark Tower books, now reading book number 5 - <a href="https://www.goodreads.com/book/show/4978.Wolves_of_the_Calla" target="_blank" rel="noopener">Wolves of the Calla</a></li>
              <li>Always reading web design and business articles via my <s>Instapaper</s> <a href="https://www.wallabag.it/en" target="_blank" rel="noopener">Wallabag</a>.</li>
            </ul>

            <p><small>This page was inspired by <a href="https://sivers.org/nowff/" target="_blank" rel="noopener">Derek Sivers</a> - Last updated: 3rd September 2018</small></p>
          </div>
        </div>
{% endblock %}