{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="u-content-gap">
          <div class="content" id="content">
            <p class="gamma u-text u-text--center">I help businesses create modern, user-friendly websites and engaging digital experiences. Whether you need a new website, a redesign, or expert advice, I can help bring your vision to life.</p>

            <h2 class="u-text u-text--center u-mb-2">What I offer</h2>
            <div class="grid-6-6 gap-2 u-mb-3">
              <div>
                <h3 class="u-text u-text--center">Website Design & Development</h3>
                <ul>
                  <li>Custom, responsive websites that look great on mobile, tablet, and desktop.</li>
                  <li>Easy-to-use designs that attract and engage customers.</li>
                  <li>Fast, secure, and optimized for SEO and performance.</li>
                  <li>Consistent design elements across your website.</li>
                </ul>
              </div>
              <div>
                <h3 class="u-text u-text--center">User Experience & Interface Design</h3>
                <ul>
                  <li>Clear and simple designs that make your website easy to navigate.</li>
                  <li>Wireframes & mock-ups to help visualize your new website or app before development.</li>
                  <li>Accessibility-friendly designs, so everyone can use your site.</li>
                </ul>
              </div>    
              <div>
                <h3 class="u-text u-text--center">Web Performance & Optimization</h3>
                <ul>
                  <li>Speed and performance improvements for faster loading websites.</li>
                  <li>Advice on how to improve your website to get better results.</li>
                </ul>
              </div>
              <div>
                <h3 class="u-text u-text--center">Website Hosting & Support</h3>
                <ul>
                  <li>Updates, maintenance, and support to keep your site running smoothly.</li>
                  <li>Dedicated website hosting and domain name management.</li>
                </ul>
              </div>
            </div>
            <div class="u-flex u-flex-col u-center">
              <p class="gamma">Whether you’re starting fresh or need a website upgrade, I can help!</p>
              <p class="u-mb-0 gamma"><strong><a class="gamma" href="/contact/">Get in touch</a></strong> today to discuss your project.</p>
            </div>
          </div>
        </section>
{% endblock %}
