---
title: 404 Not Found
permalink: 404.html
---
<!DOCTYPE html>
<html>
	<head>
		<title>404 Not Found</title>
    <link rel="stylesheet" href="/assets/css/error.css">
	</head>
	<body>
    <div class="error">
      <h1 id="typed"></h1>
    </div>

    <canvas id="matrix"></canvas>
	</body>
  <script src="/assets/js/canvas.js"></script>
  <script src="/assets/js/libs/typed.min.js"></script>
  <script src="/assets/js/error.js"></script>
</html>
