{% extends 'layouts/base.njk' %}

{% block main %}
  {% include 'components/homepage-intro.njk' %}
  {% include 'components/recent-work.njk' %}
  {% include 'components/latest-post.njk' %}
  {% include 'components/testimonial.njk' %}
  <section class="companies">
    <div class="content">
      <h2 class="alpha / content__heading">{{ businesses.title }}</h2>
      <div class="client-list">
      {% for item in workedWith %}
        <div class="client">
          <img class="client__logo" src="{{ site.cloudinary_url }}f_auto/work/clients/{{ item.img }}" alt="{{ item.alt }}" loading="lazy" width="490" height="340">
        </div>
      {% endfor %}
      </div>
      <a class="u-mt-4" href="/work/#companies">See all companies</a>
    </div>
  </section>
{% endblock %}
