{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="section section--intro">
          <div class="content">
            <p>Hey, I'm Juan — a freelance website designer with over 12 years of experience. I design &amp; develop responsive websites using industry best practices and standards with HTML5, CSS3 and some jQuery.</p>
          </div>
        </section>

        <section class="skills">
          <div class="container">
            <div class="cf / content">
              <h1 class="content__heading">Skills</h1>
              <div class="row">
                <div class="four cols">
                  <div class="skill">
                    <svg class="skill__icon" aria-hidden="true"><use xlink:href="#svg-html5" /></svg>
                    <h2 class="skill__heading">HTML5</h2>
                  </div>
                </div>
                <div class="four cols">
                  <div class="skill">
                    <svg class="skill__icon" aria-hidden="true"><use xlink:href="#svg-css3" /></svg>
                    <h2 class="skill__heading">CSS3</h2>
                  </div>
                </div>
                <div class="four cols">
                  <div class="skill">
                    <svg class="skill__icon" aria-hidden="true"><use xlink:href="#svg-responsive" /></svg>
                    <h2 class="skill__heading">Responsive</h2>
                  </div>
                </div>
                <div class="four cols">
                  <div class="skill">
                    <svg class="skill__icon" aria-hidden="true"><use xlink:href="#svg-jquery" /></svg>
                    <h2 class="skill__heading">jQuery</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="recent-work">
          <div class="content">
            <h1 class="content__heading">Recent Work</h1>
            <div class="row">
              <div class="cols four">
                <div class="project">
                  <a href="work/virgin-wines/">
                    <img class="project__img" src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/virginwines-project-recent-2.jpg" alt="Virgin Wines">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">Virgin Wines</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cols four">
                <div class="project">
                  <a href="/work/mclaren/">
                    <img class="project__img" src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/mclaren-project-recent.jpg" alt="McLaren">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">McLaren</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cols four">
                <div class="project">
                  <a href="/work/landrover/">
                    <img class="project__img" src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/landrover-project-recent.jpg" alt="Land Rover">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">Land Rover</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="cols four">
                <div class="project">
                  <a href="/work/tomhartleyjnr/">
                    <img class="project__img" src="https://res.cloudinary.com/juanfernandes/image/fetch/https://imgs.juanfernandes.uk/assets/imgs/work/projects/tomhartleyjnr-project-recent.jpg" alt="Tom Hartley JNR">
                    <div class="project__content-wrapper">
                      <h3 class="project__heading">Tom Hartley JNR</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="testimonials testimonials--section">
          <div class="content">
            <h1 class="content__heading">Testimonials</h1>
            <div class="testimonials__slider">
              {% for item in testimonials %}
              <section>
                <blockquote>
                  <p class="testimonials__quote">{{ item.quote }}</p>
                </blockquote>
                <cite class="testimonials__cite">{{ item.cite }}, {{ item.company }}</cite>
              </section>
              {% endfor %}
            </div>
          </div>
        </section>

        <section class="companies">
          <div class="content">
            <h1 class="content__heading">{{ businesses.title }}</h1>
            <div class="row">
              {% set length = companies.length if companies.length < 4 else 4 %}
              {% for i in range(0, length) %}
              <div class="four cols">
                <div class="client">
                  <img class="client__logo" src="/assets/imgs/work/clients/{{ companies[i].img }}" alt="{{ companies[i].img.alt }}">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
{% endblock %}
