---
title: You're offline
subheading: But you can still read these pages
permalink: "/offline/index.html"
---
{% extends 'layouts/page.njk' %}

{% block main %}
        <ul id="history"></ul>
        <script src="/assets/js/offline.js"></script>
{% endblock %}
