<div class="media-card">
  {% if item.poster %}
    <img
      class="media-card__poster media-card__poster-3-3"
      src="{{ item.poster }}"
      alt="{{ item.title or item.show }}"
      loading="lazy"
    />
  {% endif %}

  <div class="media-card__body">
    <h3 class="media-card__title">
      <a href="{{ item.tmdbUrl }}" target="_blank" rel="noopener">{{ item.title or item.show }}</a> {% if item.year %}({{ item.year }}){% endif %}
    </h3>

    <div class="media-card__meta">
    {% if item.season %}
      <span>Season {{ item.season }} Episode {{ item.episode }}</span>
    {% endif %}
    {% if item.watchedOn %}
      <span>Watched on: {{ item.watchedOn | dateFilter }}</span>
    {% endif %}
    {% if item.rating %}
      <span>Rated: ★ {{ item.rating }}/5</span>
    {% endif %}
    {% if item.rewatch %}
      <span>Rewatch</span>
    {% endif %}
    </div>
  </div>
</div>
